<%- include('./partials/header.ejs') %>
    <% for (let article of articles) {%>
                        <figure>
                            <img src="<%=article.img%>" alt="<%=article.img_alt%>">
                            <figcaption class="post-image-caption"><%=article.sub_title%></figcaption>
                        </figure>
                        <main class="post-description">
                            <div class="post-text">
                                <p><%=article.text%></p>
                            </div>
                        </main>
                </div>
              </article>
                <% } %>
<%- include('./partials/footer.ejs') %>